### Rain in Australia
Importacions de les llibrerias utilitzades

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import ipywidgets as widgets

from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import PowerTransformer
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_recall_curve, average_precision_score, \
    roc_auc_score, roc_curve, auc, recall_score, precision_score
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import PowerTransformer

import seaborn as sns
import scipy.stats
from scipy import stats
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from xgboost import XGBClassifier

pd.set_option("display.max_columns", None)

In [5]:
database = pd.read_csv('../../data/weatherAUS.csv')

database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
database.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [ ]:
plt.figure(figsize=(10,5))
sns.heatmap(database.isnull(), yticklabels = False, cbar=False, cmap='gray')

In [6]:
# Checking data for NaN
missing = pd.DataFrame(database.isnull().sum().sort_values(ascending=False), columns=['No. of missing values'])
missing['% missing_values'] = (missing/len(database)).round(2)*100
missing

               No. of missing values  % missing_values
Sunshine                       69835              48.0
Evaporation                    62790              43.0
Cloud3pm                       59358              41.0
Cloud9am                       55888              38.0
Pressure9am                    15065              10.0
Pressure3pm                    15028              10.0
WindDir9am                     10566               7.0
WindGustDir                    10326               7.0
WindGustSpeed                  10263               7.0
Humidity3pm                     4507               3.0
WindDir3pm                      4228               3.0
Temp3pm                         3609               2.0
RainTomorrow                    3267               2.0
Rainfall                        3261               2.0
RainToday                       3261               2.0
WindSpeed3pm                    3062               2.0
Humidity9am                     2654               2.0
Temp9am                         1767               1.0
WindSpeed9am                    1767               1.0
MinTemp                         1485               1.0
MaxTemp                         1261               1.0
Location                           0               0.0
Date                               0               0.0

In [7]:
database.duplicated().sum()

0

In [8]:
database['RainTomorrow'].value_counts()

No     110316
Yes     31877
Name: RainTomorrow, dtype: int64

In [9]:
targetNulls = widgets.ToggleButtons(
    options=['No', 'Yes', 'Delete'],
    description='Optios:',
    disabled=False,
    tooltips=['No', 'Yes', 'Delete']
)
print("Tractaments de NULL target")
targetNulls

Tractaments de NULL target

ToggleButtons(description='Optios:', options=('No', 'Yes', 'Delete'), tooltips=('No', 'Yes', 'Delete'), value=…

In [15]:
database = pd.read_csv('dades/weatherAUS.csv')
if(targetNulls.value == 'No'):
    database['RainTomorrow'] = [1 if i=='Yes' else 0 for i in database['RainTomorrow'] ]
elif(targetNulls.value == 'Yes'):
    database['RainTomorrow']=[0 if i=='No' else 1 for i in database['RainTomorrow'] ]
else:
    database = database.dropna(axis=0, subset=['RainTomorrow'])

In [16]:
cols_to_drop=['Date']
database.drop(columns=cols_to_drop,inplace=True)

x=database.drop(['RainTomorrow'],axis=1)
y=database['RainTomorrow']
print(x.shape,y.shape)

(142193, 21) (142193,)

In [17]:
targetNulls = widgets.ToggleButtons(
    options=['mode', 'median', 'mean'],
    description='Optios:',
    disabled=False,
    tooltips=['mode', 'median', 'mean']
)
print("Tractaments de NULL no target continues")
targetNulls

Tractaments de NULL no target continues

ToggleButtons(description='Optios:', options=('mode', 'median', 'mean'), tooltips=('mode', 'median', 'mean'), …

In [18]:
categorical_cols = list(x.select_dtypes(include=['object']).columns)
for i in categorical_cols:
    x[i].fillna(x[i].mode()[0], inplace=True)

continuous_cols = list(x.select_dtypes(include=['float64']).columns)
if(targetNulls.value == 'mode'):
    for column in continuous_cols:
        x[column].fillna(x[column].mode()[0], inplace = True)

elif(targetNulls.value == 'median'):
    for column in continuous_cols:
        x[column].fillna(x[column].median(), inplace = True)
        
else:
    for column in continuous_cols:
        x[column].fillna(x[column].mean(), inplace = True)

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x=y)
plt.title("Class Target")

In [ ]:
transformer = ColumnTransformer(transformers=[('ohe', OneHotEncoder(sparse='False',drop='first'), categorical_cols)],remainder='passthrough')
x=transformer.fit_transform(x)
x.shape

In [ ]:
transformer.named_transformers_['ohe'].get_feature_names()

In [ ]:
x=pd.DataFrame(x.toarray())
def check_skewness(x):
    
    skew_limit=0.75
    skew_value=x[x.columns].skew()
    skew_cols=skew_value[abs(skew_value)>skew_limit]
    #print(skew_cols)
    cols=skew_cols.index
    return cols
    
skewed_col=check_skewness(x)

pt=PowerTransformer(standardize=False)
x[skewed_col]=pt.fit_transform(x[skewed_col])

In [ ]:
b = widgets.FloatSlider(
    value=0.2,
    description='Value:',
    min=0,
    max=1,
    step=0.1,
    readout_format='.1f'
)
print('Dimension Test:')
b

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=b.value, random_state=42)

In [ ]:
balance = widgets.ToggleButtons(
    options=['Oversampling', 'Subsampling', 'None'],
    description='Optios:',
    disabled=False,
    tooltips=['Oversampling', 'Subsampling', 'None']
)
print("Balanceig de les dades")
balance

In [ ]:
if(targetNulls.value == 'Oversampling'):
    smote=SMOTE()
    X_train,y_train=smote.fit_resample(X_train,y_train)

elif(targetNulls.value == 'Subsampling'):
    tl = TomekLinks()
    X_train,y_train = tl.fit_resample(X_train,y_train)

In [ ]:
print(X_train.shape,y_train.shape)